html,
body {
    margin: 0;
    padding: 0;
    background-color: lightgreen;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    height: 100vh;
}

.board * {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
}

.category-title {
    background-color: aqua;
    grid-row-start: 1;
    text-transform: uppercase;
}

.category-clue {
    font-size: 1.7em;
}